---
export const prerender = false;

import Layout from "@layouts/Layout.astro";
import PostThumb from "src/components/article/postThumb.astro";
import Container from "src/components/container.astro";
import PageHero from "@components/PageHero.astro";
import TopicFAQ from 'src/components/article/topicFAQ.astro';
import { getCategories, getTopics, getPublishedArticles, getTeam } from "@utils/utils.js";
import studyImg from "../../assets/drbi/study.webp";

const slug = Astro.params.topic;
const allTopics = await getTopics();
const topic = allTopics.find((t) => t.id === slug);
if (!topic) return Astro.rewrite('/404');
const allArticles = await getPublishedArticles();
const posts = allArticles.filter((ar) => ar.data?.topics?.includes(slug));
const authors = await getTeam();
const categories = await getCategories();
const topicSubtitle = topic?.description || 'Explore articles and teachings on this theme.';
---

<Layout title={topic?.name ?? slug} description={topic?.description}>

  <PageHero
    label="Articles by topic"
    title={topic?.name ?? slug}
    subtitle={topicSubtitle}
    image={studyImg}
    imageAlt={topic?.name ?? slug}
  />

  <div class="max-w-screen-xl mx-auto">
   { !!topic?.faqs && (<TopicFAQ faqs={topic?.faqs} max=8 />)}
  <Container class="w-full mx-5 sm:mx-8">
    <div class="flex flex-wrap justify-center gap-20 mt-5">
      {Array.isArray(posts) && posts.map((post) => {
        // console.log('postThumb: ', post.id);
        const author = authors.find(author => author.id === post.data.author);
        const category = categories.find(category => category.id === post.data.category);
        const notEnglish = post.data.language && post.data.language !== 'en';
        return (
          <div className={`flex-none articlePost ${notEnglish ? 'hidden' : ''}`}
              data-title={post.data.title}
              data-topics={post.data.topics.join(',')}
              data-language={post.data.language}>
            <PostThumb post={post} author={author} category={category} />
          </div>
        );
      })}
    </div>
  </Container>
</div>
</Layout>


<script type="module" src="/js/hidePosts.js" client:idle></script>
