---
export const prerender = true;

import { getCollection, getEntry, getEntries } from "astro:content";
import Layout from "@layouts/Article.astro";
import Container from "@components/container.astro";
import { slugify } from "@utils/utils";
import { Picture } from 'astro:assets';

// Generate a new path for every collection entry


export async function getStaticPaths() {
  const isPublished = ({data}) => (!data.draft && data.datePublished<=new Date());
  const isDev = import.meta.env.APP_ENV==='dev';
  const allPosts = await getCollection("posts", (ar) => isPublished(ar) || isDev);
  const news = allPosts.filter((ar) => ar.data.post_type==='Newsletter');
  return news.map((entry) => ({ params: {slug: entry.slug},  props: {entry}, }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content, headings } = await entry.render();
const author = await getEntry('team', entry.data.author.id);
const category = await getEntry('categories', entry.data.category.id);
const topics = await getEntries(entry.data.topics);
---

<Layout meta={Astro.props} headings={headings}>
  <Container>

    <div class="mx-auto max-w-3xl text-center mt-3">
      <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
        <a href={`/category/${category.id}`}>{category.data.cateogory}</a>
      </span>
      <h1 class="text-3xl lg:text-4xl font-bold lg:tracking-tight mt-1 lg:leading-tight"> {entry.data.title} </h1>
      <div class="flex gap-2 mt-3 items-center justify-center text-sm flex-wrap md:flex-nowrap">
        <span class="text-slate-400">
          <a href={`/authors/${author.id}`}> {author.data.name} </a>
        </span>
        <span class="text-slate-400">•</span>
        <time class="text-slate-400" datetime={entry.data.datePublished.toISOString()}>
          {entry.data.datePublished.toDateString()}
        </time>
        <span class="text-slate-400 hidden md:block">•</span>
        <div class="w-full md:w-auto flex flex-wrap justify-center gap-3">
          { topics.map((topic) => (
              <span class="text-sm text-slate-500">
                #<a href={`/topics/${topic.id}`}>{topic.data.topic}</a>
              </span>
          ))}
        </div>
      </div>
     </div>

     <div class="mx-auto max-w-10xl">
      <div class="relative pt-[40%] rounded-xl mt-6 overflow-hidden shadow-xl border border-gray-200">
        <Picture class="cover-image absolute top-0 left-0 w-full h-full object-cover"
          formats={["avif", "webp"]} src={entry.data.image.src}
          alt={entry.data.image.alt} width="1280" quality="mid"
          transition:name={`post-img-${entry.slug}`} />
      </div>
     </div>
     <div class="mx-auto prose mt-6 max-w-3xl prose-headings:mb-2 prose-headings:mt-8"
     ><Content meta={entry.data} /></div>
     <div class="text-center mt-12">
      <a href="/posts" data-astro-reload class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition" >
        ← Back to Articles</a>
     </div>

  </Container>
</Layout>
