---
export const prerender = true;
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "./Layout.astro";
// import { transformS3Url } from '@utils/utils.js';

const { frontmatter } = Astro.props;

import { Image } from "astro:assets";
// DRBI category images - downloaded from production site
import artsImg from "../assets/drbi/arts.webp"
import cemeteryImg from "../assets/drbi/cemetery.webp"
import studyImg from "../assets/drbi/study.webp"
import soilImg from "../assets/drbi/soil.webp"
import kureImg from "../assets/drbi/kure.webp"

// const heroImage = () => {
//   const width = 1200;
//   const height = 900;
//   const src = transformS3Url(frontmatter.image, width, height);
//   const alt = frontmatter.title;
//   return { src, width, height, alt, class: 'mx-auto mt-10 mb-10' }
// }

let heroImage = undefined;
if (frontmatter.image === 'arts') heroImage = artsImg;
  else if (frontmatter.image === 'cemetery')  heroImage = cemeteryImg;
  else if (frontmatter.image === 'study')  heroImage = studyImg;
  else if (frontmatter.image === 'soil')  heroImage = soilImg;
  else if (frontmatter.image === 'kure')  heroImage = kureImg;

---

<Layout title={frontmatter.title} description={frontmatter.description} image={frontmatter.image}>

  <Container>
    <Sectionhead>
      <Fragment slot="title">{frontmatter.title}</Fragment>
      {frontmatter.date && (
        // add astro transition
        <Fragment slot="desc"  >
          Last updated on {frontmatter.date}
        </Fragment>
      )}
    </Sectionhead>

    {!!heroImage && (  <Image src={heroImage} alt={frontmatter.title} class="mx-auto max-h-[32rem] object-cover" />  )}



    <div class="mx-auto prose mt-10" style="max-width: 80ch !important;" >
      <slot />
    </div>
  </Container>
</Layout>

<style is:global>
  @media screen {
    .printonly { display: none !important; }
  }
  @media print {
    .printonly { display: block !important; }
    .noprint { display: none !important; }
  }
</style>
